.card{
   display: flex;
   justify-content: center;
   
}
.card-img, .card-img-top {
    height: 250px;
   width: 200px;
   border-top-left-radius: calc(0.25rem - 1px);
   border-top-right-radius: calc(0.25rem - 1px);
}